body {
    text-align: center;
    background-color: aquamarine;
}

h1 {
    text-align: center;
    width: 100%;
    text-decoration: underline dotted;
}

button {
    text-align: center;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
}

#buttonId {
    text-align: center;
    font-size: 15px;
    
}

button:hover {
    background-color: violet;
}

button:active {
    background-color: green;
}

#results{
    color: black;
    font-size: 1.3rem;
}